.coctail-image {
    padding: 5px;
    background: #dad6cf;
    border: 2px solid #c2b59d; 
}

.coctail-wrap {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
    overflow: hidden;
    padding: 10px;
}


.coctail-wrap::after,
.coctail-wrap::before {
    content: '';
    position: absolute;
    z-index: 2;
    width: 70px;
    height: 70px;
    transform: rotate(45deg);
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    outline: #c2b59d dashed 1px;
    outline-offset: -3px;
    background: #f7f6f2;
}

.coctail-wrap::after {
    left: auto;
    right: -40px;
    top: -40px;
}

.coctail-wrap::before {
    left: -40px;
    bottom: -40px;
}

body {
    background: #f7f6f2;
}
