body {
    background-color: #f8f8f8;
}

.content-ref {
    padding: 5px;
    float: left;
    text-decoration: none;
}

.content-ref-wrap {
    margin-top: -30px;
    float: right;
}

.content-ref .unactive-ref,
.content-ref .active-ref {
    padding: 17px 20px;
    border-width: 2px;
    border-style: solid;
    font-size: 18px;
}

.content-ref .unactive-ref {
    color: #aa8845;
    background-color: #ebe8df;
    border-color: #dad6cf;
}

.main {
    color: gray;
    font-size: 18px;
}

.content-ref .active-ref {
    color: white;
    font-weight: bolder;
    background-color: #a44823;
    border-color: #7b3418;
}
